:root {
    --background-color: beige;
    --header-background-color: navy;
    --header-text-color: white;
    --section-header-color: navy;
    --work-border-color: navy;
    --work-subheader-text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

header {
    height: 100px;
    width: 100%;

    background-color: var(--header-background-color);

    display: flex;

    /* 
     *  The first item in the header - the <h1> header - is positioned on the start line and
     *  the last item - the nav bar - is being placed on the end line.
     */
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 52px;
    font-weight: bold;

    color: white;
}

header nav {
    width: 50%;

    /* The navigation bar is positioned on the right side of the header */
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    /* The nav links appear horizontally instead of vertically */
    display: flex;
}

header nav ul li {
    /*  There needs to be a space in between each link in the navigation bar or it looks weird */
    margin-right: 1em;

    font-size: 24px;
}

/* All links on this page won't be underlined */
a {
    text-decoration: none;
}

header a {
    color: white;
}

.hero {
    height: 300px;
    width: 100%;

    /* This centers the hero image within its figure parent container */
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.hero img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;

    background-color: var(--header-background-color);
    color: var(--header-text-color);

    /*
     *  I had to use these two following code blocks to place the banner subheader text in the bottom
     *  right hand corner of the banner because the image overflows below what is actually displayed.
     *  Otherwise, I would have used a more elegent solution like calling bottom.
     *  Instead, I had to position it from the top as those values are fixed.
     */

    /* Place the text in the bottom-right hand corner, right after the banner */
    position: absolute;
    top: 400px;
    right: 0;

    /* 
     *  Finally place it in the bottom-right hand corner of the banner.
     *  These value are used so that the text is indented evenly from the bottom and right sides.
     */
    transform: translate(-12%, -150%);
}

.section-header h2 {
    font-size: 36px;
    font-weight: bold;
}

main {
    width: 100%;
}

#about-me {
    display: flex;
    flex-direction: row;
}

#work {
    display: flex;
    flex-direction: row;
}

#contact-me {
    display: flex;
    flex-direction: row;
}

.section-header {
    width: 25%;

    margin: 10px;
    padding: 10px;

    color: var(--section-header-color);
    border-right: thick solid var(--section-header-color);

    display: flex;
    justify-content: flex-end;
}

.section-content {
    width: 75%;

    margin: 10px;
    padding: 10px;
}

#work-content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 48%;

    margin: 1%;

    border: thick solid var(--work-border-color);
}

.card img {
    width: 100%;
    height: 100%;

    filter: brightness(60%);

    transition: filter 1s;
}

.card img:hover {
    filter: brightness(1);
}

#horiseon-refactor-card {
    width: 98%;

    /* I want the top to be flush with the "Work" Header */
    margin-top: 0;
}

h3 {
    font-size: 24px;
    font-weight: bold;

    margin: 5px;
}

.project-header {
    width: max-content;

    padding: 10px;

    /* I want the project subheader - the name of the project and the languages it uses - to display over the image of the project */
    transform: translate(0, -150%);

    background-color: var(--work-border-color);
    color: var(--work-subheader-text-color);
}

.project-header p {
    margin: 5px;
}

#contact-me-content ul {
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact-me-content ul li {
    font-size: 24px;
}

#contact-me-content a {
    color: var(--section-header-color);
}