:root {
    --background-color: beige;
    --header-background-color: navy;
    --header-text-color: white;
    --section-header-color: navy;
}

body {
    background-color: var(--background-color);
}

header {
    height: 100px;
    width: 100vw;

    background-color: var(--header-background-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 52px;

    color: white;
}

nav {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 1em;

    font-size: 24px;
}

a {
    text-decoration: none;

    color: white;
}

.hero {
    height: 300px;
    width: 100%;

    /* This centers the hero image within its figure parent container */
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.hero img {
    display: block;
    object-fit: cover;
    width: 100%;
}

h2 {
    font-size: 36px;
}

main {
    width: 100vw;
}

#about-me {
    display: flex;
    flex-direction: row;
}

.section-header {
    width: 25%;

    margin: 10px;
    padding: 10px;

    color: var(--section-header-color);
    border-right: solid var(--section-header-color);

    display: flex;
    justify-content: flex-end;
}

.section-content {
    width: 75%;

    margin: 10px;
    padding: 10px;
}